//theme-colors
$primaryThemeColor: #0d6efd;
$primaryThemeColorLight: dodgerblue;
$primaryThemeColorExtraLight:#bcd7fe;
//general-colors
$white: #fff;
$black: #100C08;
$red: rgb(147, 6, 6);
$lightGrey: #656880;
$darkGrey: #555555;