@import 'styles/colors';
@import 'styles/styleFunctions';

.container{
    @include flexProps(column,center);
    margin: 15%;
    // padding: 0 4% 0 4%;
    .card {
        background: $white;
        border-radius: 2px;
        box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30),
            0 15px 12px rgba(0, 0, 0, 0.22);
        display: flex;
        align-items: center;
        justify-content: center;
        div{
            width: 50%;
            height: 100%;
        }
        .left {
            .imgStyle {
                @include width_height(100%, 100%);
            }
        }
        .right {   
            height: 361px;
            background-color: $primaryThemeColor;
            @include flexProps(column, center);
            .title {
                color: $white;
            }
            
            input {
                border: 2px solid $white;
                border-radius: 6px;
                margin: 5px 0 10px 0;
                width: 90%;
                padding: 6px 0 6px 6px;
                color: $lightGrey;
                -webkit-transition: 0.5s;
                transition: 0.5s;
                outline: none;
                &:focus{
                    border: 2px solid $primaryThemeColor;
                }
            }
            form {
                width:100%;
                padding: 6px 0 6px 0;
                @include flexProps(column, center);
                .errorMessage {
                    font-size: 12px;
                    align-self: flex-start;
                    padding-left: 16px;
                    color: $red;
                }
            }
            
            .registerButton {
                all: unset;
                margin-top: 12px;
                padding: 4px 12px;
                background-color: $white;
                border: 1px solid $white;
                box-shadow: 0 8px 12px rgba(0, 0, 0, 0.30);
                &:hover{
                    background-color: $primaryThemeColorLight;
                    border: 1px solid $primaryThemeColorLight;
                    color: $white;
                    cursor: pointer;
                }
            }
            p {
                font-size: 13px;
                color: $white;
                span {
                    font-size: 15px;
                    font-weight: bold;
                    .loginNavButton{
                        all: unset;
                        &:hover{
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}
@include breakpoint(largeDesktop) {
    .right {
        height: 518px !important
    }
}
@include breakpoint(desktop) {
    .right {
        height: 385px !important
    }
}
@include breakpoint(mobile){
    .container{
        flex-direction: column;
        margin: 30% 0;
        .card {
            box-shadow: none;
            .left {
                display: none;
            }
            .right {
                width: 340px;
            }
        }
    }
}
@include breakpoint(smallMobile) {
    .right {
        width: 280px !important
    }
}

@include breakpoint(verticalAlignment){
    
}





