@import 'styles/colors';
@import 'styles/styleFunctions';

.container{
    @include flexProps(column,center);
    margin-top: 15%;
    .card {
        background: $white;
        border-radius: 2px;
        @include width_height(600px, 360px);
        box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30),
            0 15px 12px rgba(0, 0, 0, 0.22);
        display: flex;
        align-items: center;
        justify-content: center;
        .left {
            width: 50%;
            .imgStyle {
                @include width_height(100%, 100%);
            }
        }
        .right {
            @include width_height(50%, 100%);
            background-color: $primaryThemeColor;
            @include flexProps(column, center);
            .title {
                color: $white;
                padding-top: 16px;
            }
            
            input {
                border: 2px solid $white;
                border-radius: 6px;
                margin: 5px 0 10px;
                width: 100%;
                padding: 6px 0 6px 6px;
                color: $lightGrey;
                -webkit-transition: 0.5s;
                transition: 0.5s;
                outline: none;
                &:focus{
                    border: 2px solid $primaryThemeColor;
                }
                .showError {
                    padding: 3px 0 3px 3px;
                }
            }
            form {
                width: 260px;
                padding: 6px 0 6px 0;
                @include flexProps(column, center);
                .errorMessage {
                    font-size: 12px;
                    margin-top: -5px;
                    margin-right: -60%;
                    color: $red;
                }
            }
            
            .registerButton {
                all: unset;
                margin-top: 12px;
                padding: 4px 12px;
                background-color: $white;
                border: 1px solid $white;
                box-shadow: 0 8px 12px rgba(0, 0, 0, 0.30);
                &:hover{
                    background-color: $primaryThemeColorLight;
                    border: 1px solid $primaryThemeColorLight;
                    color: $white;
                    cursor: pointer;
                }
            }
            p {
                font-size: 13px;
                color: $white;
                span {
                    font-size: 15px;
                    font-weight: bold;
                    .loginNavButton{
                        all: unset;
                        &:hover{
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}
@include breakpoint(desktop) {
   
}
@include breakpoint(mobile){
    .container{
        flex-direction: column;
        margin-top: 30%;
        .card {
            box-shadow: none;
            .left {
                display: none;
            }
            .right {
                width: 60%;
            }
        }
    }
}
@include breakpoint(mediumMobile) {
    .right{
        width: 50%;
    }
}

@include breakpoint(verticalAlignment){
    .container{
        margin-top: 40%;
    }
}





