@import 'theme/colors';
@import 'theme/styleFunctions';

.container{
    @include flexProps(column,center);
    margin-top: 10%;
}
.left{
    width: 50%;
}
.right{
    @include width_height(50%,100%);
    background-color: $primaryThemeColor;
    padding-left: 16px;
    @include flexProps(column, flex-start);
}
.imgStyle{
    @include width_height(100%, 100%);
}
.title{
    color: $white;
    padding-top: 16px;
}
.card {
    background: $white;
    border-radius: 2px;
    @include width_height(600px, 360px);
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30),
    0 15px 12px rgba(0, 0, 0, 0.22);
    display: flex;
    align-items: center;
    justify-content: center;
}
input {
    border: 2px solid $white;
    border-radius: 6px;
    margin: 5px 0 10px;
    width: 100%;
    padding: 6px 0 6px 6px;
    color: $lightGrey;
}
form{
    width: 260px;
    padding: 6px 0 6px 0;
    @include flexProps(column, center);
}
button{
    all:unset;
    margin-top: 12px;
    padding: 4px 12px;
    background-color: $white;
    border: 1px solid $white;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.30);
}
p{
    font-size: 13px;
    color: $white;
    padding-left: 18%;
}
span{
    font-size: 15px;
    font-weight: bold;
}



