@media only screen and (max-width: 768px){
  
}
@media only screen and (min-width: 1024px) {

}
@media only screen and (max-width: 415px) {
    section.container{
        flex-direction: column;
        margin-top: 30%;
    }
    .card{
        box-shadow: none;
    }
    .left{
        display: none;
    }
    .right{
        width: 60%;
        align-items: center;
        padding-left: 0;
    }
    p{
        padding: 0;
    }
}
@media only screen and (max-width: 375px) {
    .right{
        width: 50%;
    }
}
@media only screen and (max-width: 320px) {
    .right {
        width: 48%;
        align-items: center;
    }
}